In [1]:
import pandas as pd

pd.set_option("mode.copy_on_write", True)

df = pd.read_csv("../src/Average_retail_price_of_electricity_2001-2023.csv", skiprows=4)

In [2]:
df.head(10)

,description,units,source key,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Average retail price of electricity,cents per kilowatthour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All sectors,NaN,ELEC.PRICE.US-ALL.A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,All sectors : United States,NaN,ELEC.PRICE.US-ALL.A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,All sectors : New England,cents per kilowatthour,ELEC.PRICE.NEW-ALL.A,10.86,10.03,10.42,10.61,11.95,14.51,15.08,...,15.45,16.52,16.13,16.58,17.63,17.76,17.73,18.03,20.47,22.73
4,All sectors : Connecticut,cents per kilowatthour,ELEC.PRICE.CT-ALL.A,9.62,9.71,10.16,10.26,12.06,14.83,16.45,...,17.05,17.77,17.24,17.55,18.41,18.66,19.13,18.32,21.08,24.21
5,All sectors : Maine,cents per kilowatthour,ELEC.PRICE.ME-ALL.A,10.55,10.35,9.79,9.69,10.57,11.80,14.59,...,12.65,12.78,12.80,13.02,13.44,14.04,13.54,13.96,17.44,20.95
6,All sectors : Massachusetts,cents per kilowatthour,ELEC.PRICE.MA-ALL.A,11.55,10.06,10.56,10.77,12.18,15.45,15.16,...,15.35,16.90,16.48,17.12,18.50,18.40,18.19,19.06,21.27,22.97
7,All sectors : New Hampshire,cents per kilowatthour,ELEC.PRICE.NH-ALL.A,10.95,10.60,10.83,11.37,12.53,13.84,13.98,...,15.22,16.02,15.66,16.17,17.01,17.15,16.63,17.37,21.07,22.98
8,All sectors : Rhode Island,cents per kilowatthour,ELEC.PRICE.RI-ALL.A,11.45,9.20,10.47,10.96,11.97,13.98,13.12,...,15.41,17.01,16.28,16.42,18.10,18.49,18.54,18.44,19.30,21.97
9,All sectors : Vermont,cents per kilowatthour,ELEC.PRICE.VT-ALL.A,10.86,10.87,10.98,11.02,10.95,11.37,12.04,...,14.57,14.41,14.46,14.60,15.13,15.36,16.33,16.34,16.99,17.52

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  64 non-null     object
 1   units        62 non-null     object
 2   source key   63 non-null     object
 3   2001         61 non-null     float64
 4   2002         61 non-null     float64
 5   2003         61 non-null     float64
 6   2004         61 non-null     float64
 7   2005         61 non-null     float64
 8   2006         61 non-null     float64
 9   2007         61 non-null     float64
 10  2008         61 non-null     float64
 11  2009         61 non-null     float64
 12  2010         61 non-null     float64
 13  2011         61 non-null     float64
 14  2012         61 non-null     float64
 15  2013         61 non-null     float64
 16  2014         61 non-null     float64
 17  2015         61 non-null     float64
 18  2016         61 non-null     float64
 19  2017         61 non-null     float64
 20  2018         61 non-null     float64
 21  2019         61 non-null     float64
 22  2020         61 non-null     float64
 23  2021         61 non-null     float64
 24  2022         61 non-null     float64
 25  2023         61 non-null     float64
dtypes: float64(23), object(3)
memory usage: 13.1+ KB

In [4]:
df = df.dropna().reset_index(drop=True)
df.head(10)

,description,units,source key,2001,2002,2003,2004,2005,2006,2007,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,All sectors : New England,cents per kilowatthour,ELEC.PRICE.NEW-ALL.A,10.86,10.03,10.42,10.61,11.95,14.51,15.08,...,15.45,16.52,16.13,16.58,17.63,17.76,17.73,18.03,20.47,22.73
1,All sectors : Connecticut,cents per kilowatthour,ELEC.PRICE.CT-ALL.A,9.62,9.71,10.16,10.26,12.06,14.83,16.45,...,17.05,17.77,17.24,17.55,18.41,18.66,19.13,18.32,21.08,24.21
2,All sectors : Maine,cents per kilowatthour,ELEC.PRICE.ME-ALL.A,10.55,10.35,9.79,9.69,10.57,11.80,14.59,...,12.65,12.78,12.80,13.02,13.44,14.04,13.54,13.96,17.44,20.95
3,All sectors : Massachusetts,cents per kilowatthour,ELEC.PRICE.MA-ALL.A,11.55,10.06,10.56,10.77,12.18,15.45,15.16,...,15.35,16.90,16.48,17.12,18.50,18.40,18.19,19.06,21.27,22.97
4,All sectors : New Hampshire,cents per kilowatthour,ELEC.PRICE.NH-ALL.A,10.95,10.60,10.83,11.37,12.53,13.84,13.98,...,15.22,16.02,15.66,16.17,17.01,17.15,16.63,17.37,21.07,22.98
5,All sectors : Rhode Island,cents per kilowatthour,ELEC.PRICE.RI-ALL.A,11.45,9.20,10.47,10.96,11.97,13.98,13.12,...,15.41,17.01,16.28,16.42,18.10,18.49,18.54,18.44,19.30,21.97
6,All sectors : Vermont,cents per kilowatthour,ELEC.PRICE.VT-ALL.A,10.86,10.87,10.98,11.02,10.95,11.37,12.04,...,14.57,14.41,14.46,14.60,15.13,15.36,16.33,16.34,16.99,17.52
7,All sectors : Middle Atlantic,cents per kilowatthour,ELEC.PRICE.MAT-ALL.A,9.74,9.58,10.09,10.29,11.07,11.92,12.31,...,13.41,13.00,12.56,12.63,12.63,12.35,12.56,13.22,15.02,15.43
8,All sectors : New Jersey,cents per kilowatthour,ELEC.PRICE.NJ-ALL.A,9.36,9.30,9.48,10.29,10.89,11.88,13.01,...,13.95,13.74,13.38,13.32,13.23,13.42,13.63,14.01,14.80,15.41
9,All sectors : New York,cents per kilowatthour,ELEC.PRICE.NY-ALL.A,11.55,11.16,12.44,12.55,13.95,15.27,15.22,...,16.25,15.28,14.47,14.74,14.83,14.34,14.87,16.11,18.33,18.32

In [5]:
df["state"] = df["source key"].str.replace("ELEC.PRICE.", "").str.replace("-ALL.A", "")
df.head(10)

/var/folders/xs/t_l_jm7548d0gxdvnxpbdfsw0000gp/T/ipykernel_52260/597784645.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["state"] = df["source key"].str.replace("ELEC.PRICE.", "").str.replace("-ALL.A", "")

,description,units,source key,2001,2002,2003,2004,2005,2006,2007,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,state
0,All sectors : New England,cents per kilowatthour,ELEC.PRICE.NEW-ALL.A,10.86,10.03,10.42,10.61,11.95,14.51,15.08,...,16.52,16.13,16.58,17.63,17.76,17.73,18.03,20.47,22.73,NEW
1,All sectors : Connecticut,cents per kilowatthour,ELEC.PRICE.CT-ALL.A,9.62,9.71,10.16,10.26,12.06,14.83,16.45,...,17.77,17.24,17.55,18.41,18.66,19.13,18.32,21.08,24.21,CT
2,All sectors : Maine,cents per kilowatthour,ELEC.PRICE.ME-ALL.A,10.55,10.35,9.79,9.69,10.57,11.80,14.59,...,12.78,12.80,13.02,13.44,14.04,13.54,13.96,17.44,20.95,ME
3,All sectors : Massachusetts,cents per kilowatthour,ELEC.PRICE.MA-ALL.A,11.55,10.06,10.56,10.77,12.18,15.45,15.16,...,16.90,16.48,17.12,18.50,18.40,18.19,19.06,21.27,22.97,MA
4,All sectors : New Hampshire,cents per kilowatthour,ELEC.PRICE.NH-ALL.A,10.95,10.60,10.83,11.37,12.53,13.84,13.98,...,16.02,15.66,16.17,17.01,17.15,16.63,17.37,21.07,22.98,NH
5,All sectors : Rhode Island,cents per kilowatthour,ELEC.PRICE.RI-ALL.A,11.45,9.20,10.47,10.96,11.97,13.98,13.12,...,17.01,16.28,16.42,18.10,18.49,18.54,18.44,19.30,21.97,RI
6,All sectors : Vermont,cents per kilowatthour,ELEC.PRICE.VT-ALL.A,10.86,10.87,10.98,11.02,10.95,11.37,12.04,...,14.41,14.46,14.60,15.13,15.36,16.33,16.34,16.99,17.52,VT
7,All sectors : Middle Atlantic,cents per kilowatthour,ELEC.PRICE.MAT-ALL.A,9.74,9.58,10.09,10.29,11.07,11.92,12.31,...,13.00,12.56,12.63,12.63,12.35,12.56,13.22,15.02,15.43,MAT
8,All sectors : New Jersey,cents per kilowatthour,ELEC.PRICE.NJ-ALL.A,9.36,9.30,9.48,10.29,10.89,11.88,13.01,...,13.74,13.38,13.32,13.23,13.42,13.63,14.01,14.80,15.41,NJ
9,All sectors : New York,cents per kilowatthour,ELEC.PRICE.NY-ALL.A,11.55,11.16,12.44,12.55,13.95,15.27,15.22,...,15.28,14.47,14.74,14.83,14.34,14.87,16.11,18.33,18.32,NY

In [6]:
df.drop(columns=["source key", "description", "units", "source key"], inplace=True)

In [7]:
df["state"].unique()

array(['NEW', 'CT', 'ME', 'MA', 'NH', 'RI', 'VT', 'MAT', 'NJ', 'NY', 'PA',
       'ENC', 'IL', 'IN', 'MI', 'OH', 'WI', 'WNC', 'IA', 'KS', 'MN', 'MO',
       'NE', 'ND', 'SD', 'SAT', 'DE', 'DC', 'FL', 'GA', 'MD', 'NC', 'SC',
       'VA', 'WV', 'ESC', 'AL', 'KY', 'MS', 'TN', 'WSC', 'AR', 'LA', 'OK',
       'TX', 'MTN', 'AZ', 'CO', 'ID', 'MT', 'NV', 'NM', 'UT', 'WY', 'PCC',
       'CA', 'OR', 'WA', 'PCN', 'AK', 'HI'], dtype=object)

In [8]:
df[df["state"].str.contains("AT")]

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,state
7,9.74,9.58,10.09,10.29,11.07,11.92,12.31,13.17,12.92,13.60,...,13.00,12.56,12.63,12.63,12.35,12.56,13.22,15.02,15.43,MAT
25,6.68,6.56,6.77,7.05,7.59,8.42,8.68,9.33,9.87,9.61,...,9.97,9.79,9.96,9.90,10.02,9.84,10.12,11.48,12.03,SAT

In [9]:
AT_row = df[df["state"].str.contains("AT")].mean(axis=0)
AT_row["state"] = "AT"
df = df.append(AT_row, ignore_index=True)

/var/folders/xs/t_l_jm7548d0gxdvnxpbdfsw0000gp/T/ipykernel_52260/600444573.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  AT_row = df[df["state"].str.contains("AT")].mean(axis=0)
/var/folders/xs/t_l_jm7548d0gxdvnxpbdfsw0000gp/T/ipykernel_52260/600444573.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(AT_row, ignore_index=True)

In [10]:
df

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,state
0,10.86,10.03,10.42,10.61,11.95,14.51,15.080,16.06,15.650,14.890,...,16.520,16.130,16.580,17.630,17.760,17.73,18.03,20.47,22.73,NEW
1,9.62,9.71,10.16,10.26,12.06,14.83,16.450,17.80,18.070,17.380,...,17.770,17.240,17.550,18.410,18.660,19.13,18.32,21.08,24.21,CT
2,10.55,10.35,9.79,9.69,10.57,11.80,14.590,13.80,13.120,12.840,...,12.780,12.800,13.020,13.440,14.040,13.54,13.96,17.44,20.95,ME
3,11.55,10.06,10.56,10.77,12.18,15.45,15.160,16.23,15.450,14.260,...,16.900,16.480,17.120,18.500,18.400,18.19,19.06,21.27,22.97,MA
4,10.95,10.60,10.83,11.37,12.53,13.84,13.980,14.63,15.090,14.840,...,16.020,15.660,16.170,17.010,17.150,16.63,17.37,21.07,22.98,NH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,5.34,5.88,5.86,5.80,5.87,6.14,6.370,6.55,6.590,6.660,...,7.400,7.680,7.940,8.000,8.040,8.33,8.75,9.05,9.61,WA
58,12.79,12.35,13.09,14.05,15.96,17.82,18.290,23.73,18.870,21.140,...,22.800,21.530,23.280,25.350,25.480,24.44,26.19,32.14,31.72,PCN
59,10.54,10.46,10.50,10.99,11.72,12.84,13.280,14.74,15.090,14.760,...,17.590,17.930,19.100,19.360,20.220,19.82,20.02,20.73,21.39,AK
60,14.05,13.39,14.47,15.70,18.33,20.72,21.290,29.20,21.210,25.120,...,26.170,23.870,26.050,29.180,28.720,27.55,30.31,39.72,38.70,HI
61,8.21,8.07,8.43,8.67,9.33,10.17,10.495,11.25,11.395,11.605,...,11.485,11.175,11.295,11.265,11.185,11.20,11.67,13.25,13.73,AT

In [11]:
df[df["state"].str.contains("NC")]

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,state
11,6.46,6.56,6.53,6.64,6.91,7.45,7.97,8.53,8.91,9.08,...,9.89,9.94,10.12,10.17,10.13,10.28,10.69,11.77,12.03,ENC
17,5.99,5.96,6.03,6.17,6.37,6.65,6.83,7.13,7.57,7.93,...,9.29,9.59,9.77,9.81,9.69,9.69,9.90,10.38,10.49,WNC
31,6.58,6.74,6.86,6.97,7.19,7.53,7.83,7.96,8.48,8.67,...,9.37,9.20,9.04,9.25,9.45,9.43,9.29,9.60,10.86,NC

In [12]:
df[df["state"].str.contains("TN")]

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,state
39,5.59,5.72,5.84,6.14,6.31,6.97,7.07,8.18,8.69,8.61,...,9.30,9.23,9.45,9.58,9.69,9.52,9.78,10.89,10.79,TN
45,6.44,6.52,6.71,6.86,7.26,7.46,7.69,8.18,8.41,8.59,...,9.48,9.31,9.51,9.48,9.39,9.40,9.70,10.46,11.07,MTN

In [13]:
df[df["state"].str.contains("SC")]

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,state
32,5.77,5.83,6.08,6.22,6.72,6.98,7.18,7.85,8.42,8.49,...,9.58,9.79,9.97,9.67,10.02,9.90,9.96,10.74,10.76,SC
35,5.33,5.39,5.55,5.83,6.17,6.78,7.01,7.87,8.13,8.16,...,9.06,9.04,9.29,9.29,9.40,9.32,9.69,10.91,10.87,ESC
40,7.07,6.33,7.13,7.47,8.48,9.42,9.27,10.13,8.94,8.74,...,8.41,8.19,8.26,8.27,8.36,8.17,9.03,10.16,9.76,WSC

In [14]:
df.to_csv(
    "../src/cleaned_Average_retail_price_of_electricity_2001-2023.csv", index=False
)